<div class="row full-height middle-xs">
  <div class="col-xs-12 center-xs">
      <h1 class="shell__title"><b>Rock, Paper, Scissor</b></h1>
      <div class="row col-xs-4 col-xs-offset-4">
          <a class="child-anchor full-width" routerLink="./match-maker">
            <button class="shell__main-btn  main-btn full-width">
              Play
            </button>
          </a>
      </div>
      <div class="row col-xs-4 col-xs-offset-4">
          <a class="child-anchor full-width" routerLink="./leaderboards">
            <button class="shell__main-btn main-btn full-width">
              Leaderboards
            </button>
          </a>
      </div>
  </div>
</div>

